.fade-in {
    animation-duration: .25s;
    animation-name: fade-in;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.fade-in-two {
    animation: .55s 1 normal fade-in-two;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in-two {
    from, 50% {
        opacity: 0;
        transform: translateY(10px)
    }
    to {
        opacity: 1;
    }
}