.fade-in {
    animation-duration: 1.3s;
    animation-name: fade-in;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.fade-in-two {
    animation: .75s 1 normal fade-in-two;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    25% {
        opacity: 0;
        transform: translateX(10px)
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in-two {
    from, 25% {
        opacity: 0;
        transform: translateY(10px)
    }
    to {
        opacity: 1;
    }
}